
Data Analysis/sana_single_interval_discrimination/figures/LCHR_TS01/bpod/bpod_20241208/LCHR_TS0120241208_outcome0.pdf
Data Analysis/sana_single_interval_discrimination/figures/single_interval_report_20241213.pdf
Data Analysis/sana_single_interval_discrimination/figures/LG08_TS03/LG08_TS03_20241213_Bpod_outcome.pdf
Data Analysis/sana_single_interval_discrimination/figures/LG08_TS03/bpod/bpod_20241213/LG08_TS0320241213_outcome0.pdf
Data Analysis/sana_single_interval_discrimination/figures/LCHR_TS02/LCHR_TS02_20241213_Bpod_outcome.pdf
Data Analysis/sana_single_interval_discrimination/figures/LCHR_TS02/bpod/bpod_20241214/LCHR_TS0220241214_outcome1.pdf
Data Analysis/sana_single_interval_discrimination/figures/LCHR_TS02/bpod/bpod_20241208/LCHR_TS0220241208_outcome0.pdf
Data Analysis/sana_single_interval_discrimination/figures/LCHR_TS01/LCHR_TS01_20241213_Bpod_outcome.pdf
Data Analysis/sana_single_interval_discrimination/figures/LCHR_TS01/bpod/bpod_20241214/LCHR_TS0120241214_outcome1.pdf
*.pdf
*.pdf
*.pdf
Data Analysis/sana_single_interval_discrimination/M.pkl
*.pkl
Data Analysis/DAP/modules/utils/__pycache__/__init__.cpython-310.pyc
Data Analysis/DAP/modules/utils/__pycache__/__init__.cpython-311.pyc
Data Analysis/DAP/modules/utils/__pycache__/run_suite2p_pipeline.cpython-310.pyc
Data Analysis/DAP/modules/utils/__pycache__/spiker.cpython-310.pyc
Data Analysis/DAP/modules/utils/__pycache__/utils.cpython-310.pyc
Data Analysis/DAP/modules/utils/__pycache__/utils.cpython-311.pyc
Data Analysis/DAP/modules/imaging/__pycache__/suite2p_qc.cpython-310.pyc
Data Analysis/DAP/modules/imaging/__pycache__/suite2p_labeling.cpython-310.pyc
Data Analysis/DAP/modules/imaging/__pycache__/suite2p_dff_traces.cpython-310.pyc
Data Analysis/DAP/modules/imaging/__pycache__/general_imaging_suite2p_preprocessor.cpython-310.pyc
Data Analysis/DAP/modules/imaging/__pycache__/general_imaging_analyzer.cpython-310.pyc
Data Analysis/DAP/modules/imaging/__pycache__/__init__.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/smoother.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/segmentByTrial.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/postprocess.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/parseFilename.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/orthogonalize.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/minimize.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/logdet.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/invPerSymm.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/getSeq.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/fillPerSymm.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/cutTrials.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/assignopts.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/util/__pycache__/__init__.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/plotting/__pycache__/plotPredErrorVsKernSD.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/plotting/__pycache__/plotPredErrorVsDim.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/plotting/__pycache__/plotEachDimVsTime.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/plotting/__pycache__/plot3D.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/plotting/__pycache__/__init__.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/core_gpfa/__pycache__/make_K_big.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/core_gpfa/__pycache__/learnGPparams.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/core_gpfa/__pycache__/gpfaEngine.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/core_gpfa/__pycache__/exactInferenceWithLL.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/core_gpfa/__pycache__/em.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/core_gpfa/__pycache__/cosmoother_gpfa_viaOrth_fast.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/core_gpfa/__pycache__/cosmoother_gpfa_viaOrth.cpython-310.pyc
Data Analysis/DAP/modules/GPFA/core_gpfa/__pycache__/__init__.cpython-310.pyc
Data Analysis/DAP/modules/experiments/__pycache__/__init__.cpython-310.pyc
Data Analysis/DAP/modules/core/__pycache__/session_extractor.cpython-310.pyc
Data Analysis/DAP/modules/core/__pycache__/pipeline_manager.cpython-310.pyc
Data Analysis/DAP/modules/core/__pycache__/general_visualizer.cpython-310.pyc
Data Analysis/DAP/modules/core/__pycache__/general_session_preprocessor.cpython-310.pyc
Data Analysis/DAP/modules/core/__pycache__/general_report_generator.cpython-310.pyc
Data Analysis/DAP/modules/core/__pycache__/general_data_analyzer.cpython-310.pyc
Data Analysis/DAP/modules/core/__pycache__/data_loader.cpython-310.pyc
Data Analysis/DAP/modules/core/__pycache__/config_manager.cpython-310.pyc
Data Analysis/DAP/modules/core/__pycache__/__init__.cpython-310.pyc
Data Analysis/DAP/modules/__pycache__/__init__.cpython-311.pyc
Data Analysis/DAP/modules/__pycache__/__init__.cpython-310.pyc
